<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Bergen STEM</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <!-- <link href="/styles/menu.css" rel="stylesheet" type="text/css" >
    <link href="/styles/index.css" rel="stylesheet" type="text/css" >
    <link href="/styles/project-index.css" rel="stylesheet" type="text/css" >
    <link href="/styles/contact.css" rel="stylesheet" type="text/css" >
    <link href="/styles/3sp.css" rel="stylesheet" type="text/css" > -->
    <script src="/bundle.js"></script>
</head>
<body>
    <nav id="navbar">
        <div class="logo">
            <a href="/">STEM</a>
        </div>
        <div class="menu toggle-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Student Projects</a></li>
                <li><a href="/3sp">STEM Student Scholars</a></li>        
                <li><a href="/contact">Contact</a></li>            
                <li><button class="resources resource-button">Resources&#9662;</button>
                    <div class="resource-menu">
                        <ul>
                            <li><a href="/projects">Student Projects</a></li>
                            <li><a href="/3sp">STEM Student Scholars</a></li>        
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
          </div>
          
          <div class="toggle-button">
            <div class="patty"></div>
        <!--     <div class="patty"></div> -->
            <div class="patty"></div>
          </div>  
        </nav>