<footer class="footer">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h5>Location</h5>
            <p>Bergen Community College</p>
            <p>400 Paramus Road</p>
            <p>Paramus, NJ 07652</p>
            <p>Room: S-315</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <h5>Follow Us</h5>
            <a href=""><button class="btn btn-outline-dark btn-sm">Like us on Twitter!</button></a>         
            <a href=""><button class="btn btn-outline-dark btn-sm">Follow us on Facebook</button></a>         
        </div>
    </div>
</footer>
          
  
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script src="/index.js"></script>

</body>
</html>