<footer class="footer">
    <div class="footer-item">
        <p class="lead">Location</p>
        <p>Bergen Community College</p>
        <p>400 Paramus Road</p>
        <p>Paramus, NJ 07652</p>
        <p>Room: S-315</p>
    </div>            
    <div class="footer-item">
        <p class="lead">Links</p>                                        
        <a href="">Bergen Community College</a>
        <a href="">Running Start</a>
        <a href="">STEM Summit</a>
    </div>
    <div class="footer-item">
        <p class="lead">Follow Us!</p>                                
        <a href="https://www.facebook.com/bergen.stem">Facebook</a>         
        <a href="https://www.instagram.com/bergen_stem/">Instagram</a>                 
    </div>
</footer>

  
    
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script src="/bundle.js"></script>

</body>
</html>