<% include partials/header %>

<div class="container about-container">
    <div class="row align-self-center">
        <div class="col-md-12">
            <h1>Benefits of STEM</h1>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h4>Hands on Project Experience</h4>
            <hr>
            <p>
                Work as a team with other students
                and faculty.
            </p>
        </div>
        <div class="col-md-4">
            <h4>Resources</h4>
            <hr>
            <p>
                Access to academic support from STEM 
                mentors, professors, and students.
            </p>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h4>Events</h4>
            <hr>
            <p>
                Please email us
                for a complete list of events.
            </p>
        </div>
        <div class="col-md-4">
            <h4>Learn</h4>
            <hr>
            <p>
                Various technical skills, such as using
                the plasma torch, programming languages,
                operating 3D printers, and more!
            </p>
        </div>
    </div>
</div>

<% include partials/footer %>