<% include partials/header %>

<div class="container about-container">
    <div class="row align-self-center">
        <div class="col-md-12">
            <h1>Benefits of STEM</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="/images/solar.jpg" alt="..." class="img-thumbnail">
                </div>                
                <div class="col-lg-6 col-md-12">
                    <h5>Hands on Project Experience</h5>
                    <hr>
                    <p>
                        Work as a team with other students
                        and faculty.
                    </p>
                </div>
            </div>            
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                        <img src="/images/groundstation.jpg" alt="..." class="img-thumbnail">
                </div>                
                <div class="col-lg-6 col-md-12">
                    <h5>Resources</h5>
                    <hr>
                    <p>
                        Access to academic support from STEM 
                        mentors, professors, and students.
                    </p>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <img src="/images/cchem.jpg" alt="..." class="img-thumbnail">
                </div>                
                <div class="col-lg-6 col-md-12">
                    <h5>Events</h5>
                    <hr>
                    <p>
                        Please email us
                        for a complete list of events.
                    </p>
                </div>
            </div>            
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                        <img src="/images/groundstation.jpg" alt="..." class="img-thumbnail">
                </div>                
                <div class="col-lg-6 col-md-12">
                    <h5>Learn</h5>
                    <hr>
                    <p>
                        Various technical skills, such as using
                        the plasma torch, programming languages,
                        operating 3D printers, and more!
                    </p>
                </div>
            </div>            
        </div>
    </div>
</div>

<% include partials/footer %>