<!DOCTYPE html>
<html lang="en" style="opacity: 0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Bergen STEM</title>
    <!-- <link rel="stylesheet" href="/styles/menu.css"> -->
</head>
<body>    
    <nav class="navbar navbar__landing" id="navbar">
        <div class="logo">
            <a href="/">STEM</a>
        </div>
        <div class="menu toggle-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Student Projects</a></li>
                <li><a href="/3sp">STEM Student Scholars</a></li>        
                <!-- <li><a href="/contact">Contact</a></li>             -->
                <li><button class="resources resource-button">Resources&#9662;</button>
                    <div class="resource-menu" id="resourceMenu">
                        <ul>
                            <li><a href="/projects">Student Projects</a></li>
                            <li><a href="/3sp">STEM Student Scholars</a></li>        
                            <li><a href="/contact">Contact</a></li>
                            <!-- <li><a>Resources</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
          </div>
          
          <div class="toggle-button">
            <div class="patty"></div>
        <!--     <div class="patty"></div> -->
            <div class="patty"></div>
          </div>  
        </nav>