<% include ../partials/header %>

<div class="project-header">
    <header>
        <div class="container">
            <h1 class="display-1">Student Projects</h1>       
        </div>
    </header>
</div>
    
    
        


<div id="phys-btn" class="field">
    <div class="field-title container">
        <h1>Physics</h1>
        <hr>
    </div>      
    <section class="projects">

        <div class="project">          
            <h3>Radio Drove and Meteor Studies</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/radio.jpg" alt="">
            <div class="project__overlay">                
                <p>The Radio JOVE Project was funded by NASA in 1998 to help promote interest 
                    in radio astronomy and associated technology among high school and college students...
                </p>                        
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>                 
        </div>

        <div class="project">          
            <h3>Solar Concentrator</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/solar.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    The purpose of this project is to produce electricity
                    by using the solar energy. In order to do so, STEM students 
                    bend a plastic-glass into a shape of a parabola by applying a 
                    momentum and force on the edges.
                </p>                        
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>                 
        </div>

        <div class="project">  
            <h3>High Altitude Balloon</h3>          
            <img class="project-img" src="http://www.bergenstem.org/images/highalt1.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    The High Altitude Balloon team builds electronic sensor
                    payloads as well as other types of experiments and launches
                    them 100,000 feet into the air...
                </p>                            
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>
                
        <div class="project">          
            <h3>Rocket Team</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/rocket.jpg" alt="">
            <div class="project__overlay">
                <p>Researchers have been exploring 
                    methods to maximize growth and lipid production in 
                    algae. Algae are the most promising candidates for 
                    future fuels because of their unique ability to 
                    produce a high lipid concentration.
                </p>                            
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>
        <div class="project">  
            <h3>Seismometer</h3>          
            <img class="project-img" src="http://www.bergenstem.org/images/seismograph.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    One of STEM’s many unique outputs for students 
                    to come and work together is with the seismometer
                    project. Seismometers (or seismographs) by definition,
                        are the instruments that...
                </p>                            
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>    
    </section>
</div>
<!-- ~~~~~ENGINEERING~~~~~ -->
<div id="eng" class="field">
    <div class="container field-title">
        <h1>Engineering</h1>
        <hr>
    </div>
    
    <section class="projects">
        <div class="project">    
            <h3>Wind Turbine</h3>        
            <img class="project-img" src="http://www.bergenstem.org/images/vegeta.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    The wind turbine team constructed a five foot vertical axis wind
                    turbine and generator from a kit. The team designed, built and tested
                    a novel base that allows for the full scale turbine to be attached to...
                </p>                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>

        <div class="project">    
            <h3>Robotics Team</h3>        
            <img class="project-img" src="http://www.bergenstem.org/images/robotics2.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    With a group varying in skill level from beginner to advanced
                    and interests ranging from mechanical engineering to computer
                    science,  anyone and everyone can contribute and learn to the BCC Robotics Team.
                </p>                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>

        <div class="project">    
            <h3>Ground Station</h3>        
            <img class="project-img" src="http://www.bergenstem.org/images/groundstation1.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    This project deals with the development of 
                    a portable ground station for outdoor 
                    drone/robot remote control.
                </p>                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>

        <div class="project">  
            <h3>Block House</h3>          
            <img class="project-img" src="http://www.bergenstem.org/images/blockhouse1.jpg" alt="">
            <div class="project__overlay">                
                <p>An off the grid block house for the purpose of storing, 
                    working and testing STEM projects. Tests such as material 
                    efficiency and heat transfer. Solar panel and wind turbine 
                    data collection.
                </p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>

        <div class="project">    
            <h3>Electric Vehicle Conversions</h3>        
            <img class="project-img" src="http://www.bergenstem.org/images/electriccar1.jpg" alt="">
            <div class="project__overlay">                
                <p>We Study the mechanics of Cars and Bicycles 
                    and learn as much about how they work as 
                    possible, so we are then able to convert them
                        to electric powered vehicles.
                </p>                                
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div> 

        <div class="project">    
            <h3>Pedal Charger</h3>        
            <img class="project-img" src="http://www.bergenstem.org/images/pedal1.jpg" alt="">
            <div class="project__overlay">                
                <p>
                    Pedal Charger Project considers methods by which power 
                    can be generated by using human-powered system that could 
                    convert mechanical energy to electric power.
                </p>                                
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div> 

    </section>                                    
</div>

<div id="bio" class="field">
    <div class="container field-title">
        <h1>Biology</h1>
        <hr>
    </div>
        
    <section class="projects">
        <div class="project">          
            <h3>Algae Biodiesel</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/algea1.jpg" alt="">
            <div class="project__overlay">
                
                <p>Researchers have been exploring 
                    methods to maximize growth and lipid production in 
                    algae. Algae are the most promising candidates for 
                    future fuels because of their unique ability to 
                    produce a high lipid concentration.</p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>
        <div class="project">  
            <h3>Hydroponics</h3>          
            <img class="project-img" src="http://www.bergenstem.org/images/hydro.jpg" alt="">
            <div class="project__overlay">                
                <p>An off the grid block house for the purpose of storing, 
                    working and testing STEM projects. Tests such as material 
                    efficiency and heat transfer. Solar panel and wind turbine 
                    data collection.</p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>   
    </section>                                    
</div>  

<div id="chem" class="field">
    <div class="container field-title">
        <h1>Chemistry</h1>
        <hr>
    </div>
    
    <section class="projects">
        <div class="project">          
            <h3>Computational Chemistry</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/cchem1.jpg" alt="">
            <div class="project__overlay">
                
                <p>Scientists at Carnegie Mellon University and Stanford University 
                    are trying to utilize the wisdom of the citizens with designing 
                    of an online video game(EteRNA) that asks the players to create 
                    new ways to fold RNA molecules.
                </p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>                                
        <div class="project">          
            <h3>Ogranic Chemistry</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/organic.jpg" alt="">
            <div class="project__overlay">
                
                <p>Scientists at Carnegie Mellon University and Stanford University 
                    are trying to utilize the wisdom of the citizens with designing 
                    of an online video game(EteRNA) that asks the players to create 
                    new ways to fold RNA molecules.
                </p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>                                
    </section>                                    
</div>
<div id="cs" class="field">
    <div class="container field-title">
        <h1>Computer Science</h1>
        <hr>
    </div>
    
    <section class="projects">
        <div class="project">          
            <h3>UAV</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/uav.jpg" alt="">
            <div class="project__overlay">
                <p>UV-4 V/STOL UAV is an uncrewed aerial vehicle designed to
                     transport cargo via autonomous or remote pilot operations.
                     Students of Bergen Community College participated in several 
                     factors leading to this new aircraft design. 
                </p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>                                
        <div class="project">          
            <h3>Autonomous Aerial Vehicle</h3>  
            <img class="project-img" src="http://www.bergenstem.org/images/unmanned1.jpg" alt="">
            <div class="project__overlay">
                <p>
                        This project deals with drones, their mechanical properties and uses. 
                        The main goals are to provide students an opportunity to study 
                        the UAVs and learn how to use them for recreational and 
                        educational purposes. 
                </p>                                    
            </div>
            <a href="project.html"><button class="btn btn-outline-dark">View →</button></a>
        </div>                                
    </section>                                    
</div>

<% include ../partials/footer %>