html {
    font-size: 1rem;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    color: rgb(46, 48, 47);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    background-color: rgb(46, 48, 47);
    border-color: rgb(46, 48, 47);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    /* color: var(--gray-dark); */
    color: rgb(46, 48, 47);   
    /* margin: 5px; */
    line-height: 1.5;
}

img, iframe {
    border: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h3, h4, h5 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}

.display-1 {
    font-size: 7rem;
    font-weight: 100;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.navbar {
  transition: all 350ms cubic-bezier(.25,.8,.25,1);  
}

.navbar-bg {
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar-landing {    
    padding: 30px 30px;
    background: transparent;
    color: white;
}



.header{
    display: grid;
    /* font-family: "Arial"; */
    /* outline: 4px solid blueviolet; */
    display:flex;
    align-items:center;
    justify-content: center;
    height: 200px;  
    width: 100%;
  }

.header h1 {
      font-size: 4rem;
  }

/* =================
    LANDING
================= */
#myCanvas {
    margin: 0;
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.overlay {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}   

.landing-container {
    /* outline: 4px solid black; */
    height: 70vh;
    width: 100%;
}

.landing {
    overflow: hidden;
    height: 70vh;
    width: 100%;
}

.landing-title {
    font-weight: 500;
    /* color: rgb(46, 48, 47); */
    color: #e4e7eb;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.23);
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
}






/* =================
    CONTENT
================= */
.content {
    /* outline: 1px solid orangered; */
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    /* display: grid;
    grid-gap: 10%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding:3%;
    justify-content: center; */
    min-height: 30vh;
    /* padding: 2%; */

    /* align-content: center;    */
    /* align-items: center; */
}


.content-text {
    /* outline: 1px solid midnightblue; */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    justify-self: center;
    /* justify-content: flex-end; */
    /* height: 200px; */
    max-width: 400px;
    min-width: 100px;
}

/* =================
    INFO
================= */
/* .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
} */

.info {
    /* outline: 4px solid pink; */
    min-height: 60vh;
    padding: 10%;
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 60px;
    align-items: center;
    justify-content: space-around;
}



.info-content {
    align-self: center;
}

.info-content p:first-of-type {
    font-size: 1.2rem;
}

.info:nth-of-type(2n) {
    background: #f3f1f3;
}
/* =================
    RESEARCH
================= */
.about-container {
    /* outline: 2px solid yellowgreen; */
    margin-bottom: 50px;
}

.about-container h5 {
    font-weight: bold;
}

.about-container .row > *{
    padding: 15px;
    outline: 3px orangered;
}




/* =================
    FOOTER
================= */
.footer {
    background: rgba(0,0,0,0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    font-size: 0.7rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    /* text-align: center; */
    align-content: center;
    /* align-items: flex-end; */
    /* background: #eceaf0; */
    /* outline: 4px sandybrown; */
}

.footer p, .footer a {
    color: #bdbfc1;
}

.footer-item {
    display: flex;
    flex-direction: column;  
    padding: 10px;
    /* outline: 4px solid green;   */
    /* text-align: center; */
    /* margin: 15px 20px; */
}

.footer-item .lead {
    /* margin-top: 10px; */
}



.footer-item > * {
    margin: 0;
    padding: 0;
}

.footer .lead {
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 4px;
    /* text-align: center; */
}

.footer .btn, .footer a {
    margin: 3px 0;
    
}

.footer .btn {
    font-size: 1em;
}

/* =================
    MEDIA
================= */
@media (max-width:1000px) {
    .display-1{
        font-size: 3.5rem;
    }

    .field h1 {
        font-size: 1.8rem;
    }

}

@media (max-width:768px) {
    .content {
        grid-gap: 20px;
    }
    
    .landing {
        background-position: bottom center;
    }

    .header h1 {
        font-size: 2.5rem;
    }

    .footer{
        flex-flow: column wrap;
    }

} 

@media (max-width:480px) {
    .display-1 {
        font-size: 2.5rem;
    }
    
    .info {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .field h1 {
        font-size: 1.5rem;
    }
}

