 * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /* font-family: "Arial"; */
  }
  
  
  .shaded {
  /*   opacity:    0.5;  */
    background: #000; 
    width:      100%;
    height:     100%; 
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;   
  }
  
  nav {
      /* outline: 3px solid forestgreen; */
    position: fixed;
    z-index: 9999;
    color: #ced4da;
    width: 100%;
    left: 0;
    top: 0;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 100px 1fr;
    align-content: center;
    justify-content: center;
    
    font-size: 0.9rem;
    /* background: #212223; */
    background: rgba(0,0,0,0.9);
  }
  
  nav ul {
    /* outline: 3px solid blueviolet; */
    align-self: center;    
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: inherit;
    /* background: #212223; */
    background: none;
    margin: 0;
    
  }
  
  nav ul > * {
      /* outline: 4px solid red; */
    align-self: center;
    /* padding:10px; */
    
  }
  nav a {
      /* outline: 4px solid lime; */
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 10px;
    font-weight: 100;
  /*   width:100%; */
  }
  
  nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .logo {
    /*   outline: 4px solid blueviolet; */
    position: relative;
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100px;
    color: #F7F7F7;
    
  }
  
 .resource-menu {
    /* outline: 4px solid blue; */
    position: relative;
    /* padding: 5px; */
    width: 200px;
    left: 100%;
    display:block;
    flex-direction: row;
    margin-left: -220px;
    background: white;
    /* min-height: inherit; */
    /* transform: translateX(-100%); */
    /* margin-top: 5px; */
    display: none;
  }
  
  
  .resource-menu a {
    /* outline: 4px dashed steelblue; */
    color:#1a62d8;
    font-size:1rem;
    display: block;
  }
  
  .resource-menu a:hover {
    color: #043587
  }
  
  
  .resource-menu ul{
    /* outline: 2px solid aqua; */
    background: #F7F7F7;
    color: #212223;
    position: absolute;
    box-shadow: 1px 1px 2px solid rgba(0,0,0,0.6);
    border-radius: 2%;
    padding: 0;
    display: flex;
    margin: 2px;
    flex-direction: column;
    width: 100%;
    min-height: inherit;
    text-align: right;
  }
  
  .resource-menu ul > * {
    /* outline: 2px solid coral; */
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  
  .resource-menu__show {
    display: block;
    
  }
  
  
  @media (max-width: 900px) {
    nav {
      color: #dadada;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }

    nav a {
      padding: 0;
      display: block;
    }
  
    nav ul {
       /* outline: 1px solid teal; */
      display: block;
      height: inherit;
      margin: 0 15px;
      padding: 10px;
    }
  
    nav ul > * {
      /* outline: 4px solid blueviolet; */
      margin: 20px;
      text-align: right;
    }
    
    nav .resource-menu ul {
      /* outline: 2px solid olive; */
      display: block;    
      background: white; 
      margin-top: 10px;
      /* margin-left: -100px; */
    }

    nav .resource-menu  a {
      padding: 10px;
    }
  
    .toggle-menu {
      /*     outline: 4px solid lime; */
      position: absolute;
      width: 100%;
      margin: 0 auto;
      left: 0;
      top: 60px;
  /*     transform: translateX(-100%); */
      transition: all 300ms ease-in-out;
    }
  
    .toggle-menu ul {
      margin: 0;
      background: rgba(0,0,0,0.9);
    }
  
    .toggle-menu__show {
  /*     transform: translateX(0); */
      display: none;
    }
  
    .toggle-button {
  /*     background: green; */
      min-height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      padding: 5px;
      height: 100%;
    }
  
    .toggle-button:hover {
      cursor: pointer;
    }
  
    .toggle-button > * {
      /*     outline: 2px solid red; */
      width: 35px;
      height: .1rem;
      margin: 3px 0;
      background: #bcb8b8;
      padding: 0;
      transition: all 200ms ease-in-out;
    }
  
    .patty-collapse:last-of-type {
      background: red;
      margin: 0;
  /*     transform-origin: 50%; */
      transform: translateY(-100%);
       transform: rotate(45deg);
    }
  
    .patty-collapse:first-of-type {
      background: red;
      margin:-2px 0;
  /*     transform-origin: 50%; */
  /*     margin-left: 1px; */
      transform: translateY(50%);
      transform: rotate(-45deg);
    }
  }

  